<section class="todoapp">
  <header class="header">
    <h1><%= @list.name %></h1>
    <%= form_for([@list, @item]) do |f| %>
      <%= f.text_field :description, :class => "new-todo", :placeholder => (@item.errors.full_messages_for(:description).first || "Enter a new item...") %>
      <%= f.submit :style => "display: none" %>
    <% end %>
  </header>
  <section class="main">
    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <% @list.items.each do |item| %>
      <li class="<%= "completed" if item.complete? %>">
        <div class="view">
          <%= form_for([@list, item]) do |f| %>
            <%= f.check_box :status, :class => "toggle", :checked => (true if item.complete?) %>
          <% end %>

          <label><%= item.description %></label>
        </div>
      </li>
      <% end %>
    </ul>
  </section>
  <footer class="footer">
  </footer>
</section>