<section class="todoapp">
	<header class="header">
        <h1>Log in!</h1>
        <%= form_tag(sessions_path) do %>
            <%= text_field_tag :email, '', :class => "new-todo", :placeholder => "Login with your email" %>
            <%= text_field_tag :password, '', :class => "new-todo", :placeholder => "Password" %>
            <%= submit_tag %>
        <% end %>

        
    </header>
    
    <p><%= link_to "Login via GitHub", "/auth/github" %></p>
    
    <footer class="footer">
    </footer>

</section>

<footer class="info">
    <p><%=link_to "Sign Up", new_user_path %></p>
</footer>